.slider-btn a {
	font-size: 20px;
}

.border-button a {
	font-size: 20px;
}

section.top-services{
	padding-top: 50px;
	padding-bottom: 0px;
	background-color: #e1e5f0;
}

.service-items .item .main-title h6 {
	font-size: 20px;
	font-weight: bold;
}

.main-title h6 {
	color: black;
}
.description p {
	color: black;
}

div#phil-k-experience.section-heading {
	padding-bottom: 30px;
}

.item i {
	color: black;
	text-align: center
}

.page-title h3{
	color: white;
}

.info-icons li {
	font-size: 18px;
}
.info-icons ul li a {
	font-size: 18px;
}

/**
div.item.col-md-3{
	border: 1px solid;
	border-radius: 25px;
}